<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lancar Jaya Security - Cloud Computing</title>
    <link rel="stylesheet" href="static/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/tooplate-wave-cafe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!--
Tooplate 2121 Wave Cafe
https://www.tooplate.com/view/2121-wave-cafe
-->
</head>
<body>
  <div class="tm-container">
    <div class="tm-row">
      <!-- Site Header -->
      <div class="tm-left">
        <div class="tm-left-inner">
          <div class="tm-site-header">
            <i class="fas fa-coffee fa-3x tm-site-logo"></i>
            <h1 class="tm-site-name">Lancar Jaya Security</h1>
          </div>
          <nav class="tm-site-nav">
            <ul class="tm-site-nav-ul">
              <li class="tm-page-nav-item">
                <a href="#drink" class="tm-page-link active">
                  <i class="fas fa-mug-hot tm-page-link-icon"></i>
                  <span>Anggt Kelompok</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#about" class="tm-page-link">
                  <i class="fas fa-users tm-page-link-icon"></i>
                  <span>Tentang Kami</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
              </li>
              <li class="tm-page-nav-item">
                </a>
              </li>
            </ul>
          </nav>
        </div>        
      </div>
      <div class="tm-right">
        <main class="tm-main">
          <div id="drink" class="tm-page-content">
            <!-- Drink Menu Page -->
            <nav class="tm-black-bg tm-drinks-nav">
              <ul>
                <li>
                  <a href="#" class="tm-tab-link active" data-id="cold">Nama Anggota Kelompok</a>
                </li>
                <li>
                  <a href="#" class="tm-tab-link" data-id="juice">Kenal Lebih Dekat</a>
                </li>
              </ul>
            </nav>

            <div id="cold" class="tm-tab-content">
              <div class="tm-list">
                <div class="tm-list-item">          
                  <img src="static/img/mun.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Munif Aryaputra<span class="tm-list-item-price">22.83.0787</span></h3>
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/al.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Alif Miftahul Firdaus<span class="tm-list-item-price">22.83.0816</span></h3>
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/pid.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Rafid Ramadani<span class="tm-list-item-price">22.83.0778</span></h3>
      
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/gar.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Egar Athwal Mahali<span class="tm-list-item-price">22.83.0781</span></h3>
  
                  </div>
                </div> 
                                       
              </div>
            </div> 

            <div id="juice" class="tm-tab-content">
              <div class="tm-list">
                <div class="tm-list-item">          
                  <img src="static/img/mun.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Munif Aryaputra<span class="tm-list-item-price">22.83.0787</span></h3>
                    <p class="tm-list-item-description">S1 Teknik Komputer - 2022 - Saya senang mengikuti perkembangan politik, baik nasional maupun internasional. Saya tertarik mempelajari bagaimana kebijakan pemerintah, regulasi, dan ideologi politik memengaruhi keamanan digital, privasi, dan hak-hak pengguna di internet.</p>              
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/al.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Alif Miftahul Firdaus<span class="tm-list-item-price">22.83.0816</span></h3>
                    <p class="tm-list-item-description">S1 Teknik Komputer - 2022 - Dunia keamanan siber selalu menarik bagi saya, terutama dalam memahami bagaimana melindungi data dari ancaman digital. Saya sering mempelajari tentang enkripsi, penetration testing, dan menjaga integritas sistem dari serangan. Mengetahui bagaimana dunia digital dapat menjadi tempat yang aman bagi semua orang adalah salah satu tujuan saya.</p>                    
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/pid.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Rafid Ramadani<span class="tm-list-item-price">22.83.0778</span></h3>
                    <p class="tm-list-item-description">S1 Teknik Komputer - 2022 - Membaca adalah salah satu cara favorit saya untuk memperluas wawasan. Saya senang membaca buku tentang politik global, keamanan teknologi, dan literatur lain yang membahas tentang dampak sosial dari perkembangan teknologi. Buku-buku ini membantu saya memahami lebih dalam tentang topik yang saya minati dan bagaimana semuanya saling terkait.</p>              
                  </div>
                </div>
                <div class="tm-list-item">          
                  <img src="static/img/gar.jpg" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">Egar Athwal Mahali<span class="tm-list-item-price">22.83.0781</span></h3>
                    <p class="tm-list-item-description">S1 Teknik Komputer - 2022 - Saya juga aktif di media sosial, tempat saya bisa terhubung dengan orang-orang yang memiliki minat yang sama, berdiskusi tentang politik, teknologi, serta isu-isu global. Selain itu, saya suka mengikuti tren terbaru di dunia teknologi dan informasi dari platform seperti Twitter dan LinkedIn.</p>              
                  </div>
                </div>              
              </div>
            </div>
            <!-- end Drink Menu Page -->
          </div>

          <!-- About Us Page -->
          <div id="about" class="tm-page-content">
            <div class="tm-black-bg tm-mb-20 tm-about-box-1">              
              <h2 class="tm-text-primary tm-about-header">Tentang Lancar Jaya Security</h2>
              <div class="tm-list-item tm-list-item-2">                
                <img src="static/img/rafd2.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
                <div class="tm-list-item-text-2">
                  <p>Kelompok Lancar Jaya Security adalah sebuah tim yang berfokus pada pengembangan dan penerapan solusi keamanan berbasis cloud. Kami berkomitmen untuk mengeksplorasi dan mempelajari teknologi cloud computing dengan mendalam, terutama dalam hal keamanan data, enkripsi, dan perlindungan informasi. Dengan menggunakan Microsoft Azure, organisasi dapat memanfaatkan berbagai layanan cloud yang fleksibel dan aman, mulai dari pengelolaan infrastruktur, pengembangan aplikasi, hingga analisis data skala besar. Azure sangat cocok untuk berbagai jenis bisnis, dari startup hingga perusahaan besar, yang ingin mengoptimalkan efisiensi operasional dan skalabilitas melalui cloud computing.</p>
   
                </div>                
              </div>
            </div>
            <div class="tm-black-bg tm-mb-20 tm-about-box-2">              
              <div class="tm-list-item tm-list-item-2">                
                <div class="tm-list-item-text-2">
                  <h2 class="tm-text-primary">Visi & misi Lancar Jaya Security</h2>
                  <p>Menjadi kelompok yang unggul dalam pengembangan dan penerapan solusi keamanan berbasis cloud, dengan fokus pada inovasi teknologi cloud yang aman, andal, dan efektif dalam mendukung kebutuhan dunia digital masa kini dan masa depan.</p>                  
                </div>                
                <img src="static/img/rafd3.png" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">                
              </div>
              <p>Mengembangkan Keahlian dalam Cloud Computing: Mempelajari dan memahami konsep cloud computing secara mendalam, termasuk arsitektur, layanan, dan implementasinya, khususnya dalam konteks keamanan.

                Menerapkan Solusi Keamanan Cloud yang Efektif: Merancang dan mengimplementasikan strategi serta solusi keamanan data yang komprehensif di lingkungan cloud, termasuk enkripsi, identifikasi ancaman, dan mitigasi risiko.
                
                Membangun Infrastruktur Cloud yang Scalable dan Aman: Menciptakan infrastruktur cloud yang handal dan dapat dikembangkan (scalable) dengan memanfaatkan layanan cloud seperti AWS, Azure, atau Google Cloud, serta memastikan penerapan keamanan yang optimal pada setiap lapisan.</p>
            </div>
          </div>
          <!-- end About Us Page -->
          <!-- end Special Items Page -->
          <!-- end Contact Page -->
        </main>
      </div>    
    </div>
    <footer class="tm-site-footer">
      <p class="tm-black-bg tm-footer-text">Copyright 2024 - Lancar Jaya Security
      
      | Design: <a href="https://www.tooplate.com" class="tm-footer-link" rel="sponsored" target="_parent">LJS</a></p>
    </footer>
  </div>
    
  <!-- Background video -->
  <div class="tm-video-wrapper">
      <i id="tm-video-control-button" class="fas fa-pause"></i>
      <video autoplay muted loop id="tm-video">
          <source src="static/video/wave-cafe-video-bg.mp4" type="video/mp4">
      </video>
  </div>

  <script src="static/js/jquery-3.4.1.min.js"></script>    
  <script>

    function setVideoSize() {
      const vidWidth = 1920;
      const vidHeight = 1080;
      const windowWidth = window.innerWidth;
      const windowHeight = window.innerHeight;
      const tempVidWidth = windowHeight * vidWidth / vidHeight;
      const tempVidHeight = windowWidth * vidHeight / vidWidth;
      const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
      const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
      const tmVideo = $('#tm-video');

      tmVideo.css('width', newVidWidth);
      tmVideo.css('height', newVidHeight);
    }

    function openTab(evt, id) {
      $('.tm-tab-content').hide();
      $('#' + id).show();
      $('.tm-tab-link').removeClass('active');
      $(evt.currentTarget).addClass('active');
    }    

    function initPage() {
      let pageId = location.hash;

      if(pageId) {
        highlightMenu($(`.tm-page-link[href^="${pageId}"]`)); 
        showPage($(pageId));
      }
      else {
        pageId = $('.tm-page-link.active').attr('href');
        showPage($(pageId));
      }
    }

    function highlightMenu(menuItem) {
      $('.tm-page-link').removeClass('active');
      menuItem.addClass('active');
    }

    function showPage(page) {
      $('.tm-page-content').hide();
      page.show();
    }

    $(document).ready(function(){

      /***************** Pages *****************/

      initPage();

      $('.tm-page-link').click(function(event) {
        
        if(window.innerWidth > 991) {
          event.preventDefault();
        }

        highlightMenu($(event.currentTarget));
        showPage($(event.currentTarget.hash));
      });

      
      /***************** Tabs *******************/

      $('.tm-tab-link').on('click', e => {
        e.preventDefault(); 
        openTab(e, $(e.target).data('id'));
      });

      $('.tm-tab-link.active').click(); // Open default tab


      /************** Video background *********/

      setVideoSize();

      // Set video background size based on window size
      let timeout;
      window.onresize = function(){
        clearTimeout(timeout);
        timeout = setTimeout(setVideoSize, 100);
      };

      // Play/Pause button for video background      
      const btn = $("#tm-video-control-button");

      btn.on("click", function(e) {
        const video = document.getElementById("tm-video");
        $(this).removeClass();

        if (video.paused) {
          video.play();
          $(this).addClass("fas fa-pause");
        } else {
          video.pause();
          $(this).addClass("fas fa-play");
        }
      });
    });
      
  </script>
</body>
</html>